<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-button (click)="addIncomeAlert()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-label text-center>$ {{ amount }}</ion-label>
      <ion-button (click)="addDepenseAlert()">
        <ion-icon name="remove"></ion-icon
      ></ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Income :$ {{ inc }}</ion-label>
      <ion-label>Expense :$ {{ exp }}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
