<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="potdiv"><app-jackpot-card></app-jackpot-card></div>
  <app-historique-liste></app-historique-liste>
</ion-content>
